.cart-layout{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 70%;
    justify-content: center;
    text-align: center;
}

.sp-cart-layout{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cart-product-name{
 display: flex;
 flex-direction: row;
 align-items: center;
 width: 15rem;
 gap: 1rem;
}

.cart-product-image-div{
    max-width: 5rem;
    max-height: 3rem;
}
.cart-product-image{
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
}

.cart-product-price{
    width: 5rem;
}

.cart-product-remove{
    margin-right: 1.5rem;
    margin-left: 1.2rem;
    font-size: 1.2rem;
    cursor: pointer;
}

.cart-product-quantity{
    font-size: 1rem;
    color: rgb(0, 0, 0);
}

@media (max-width: 950px) {

    .cart-product-qantity-inc-dec{
        margin-right: 20px;
    }
    
    .cart-product-remove{
        margin-right: 55px;

    }
 
    .cart-product-name{
        display: flex;
        max-width: 30%;
        flex-direction: column-reverse;
    }
}