.header-brand {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
}

.header-brand-name {
    color: black;
}

@media (max-width:950px){
    .header-brand{
        font-size: 2rem;
    }
}