body {
    margin: 0;
    padding: 0;
    font-family: Verdana,Avenir Next;
}

.max-width {
    max-width: 1200px;
    margin: 0 auto;
}

.home-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: rgb(230, 163, 163); */
    background: linear-gradient(to right, #12C2E9 , #F64F59); /*best 1*/
    /* background: linear-gradient(to right,#3494E6, #EC6EAD); best 2 */
    /* background: linear-gradient(to right,#1A2980, #EC6EAD); best 3 */
    /* background: linear-gradient(to right,#FF512F, #DD2476, #009688); good */
    padding: 8px;
}

